<h1> Edit Figure: </h1>
<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">

  <h2>Name:</h2>
  </br>
    <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name%>">
    </br>
    </br>
  <h3>Titles:</h3>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
        <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%= title.name %>" <%='checked' if @figure.titles.include?(title) %>>
      </br>
    <% end %>

  <label>Create New Title:</label>
    <input type="text" id="new_title" name="title[name]">

  </br>
  </br>
  <h3>Landmarks:</h3>
    <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.name %>" <%='checked' if @figure.landmarks.include?(landmark) %>>
        </br>
    <% end %>

    <label>Create New Landmark:</label>
      <input type="text" id="new_landmark" name="landmark[name]"><br></br>

    <input type="submit" value="Edit Figure">

</form>
